@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<header class="py-5 bg-white border-bottom mb-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-dark mb-2">API Productos</h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3 rounded-pill" asp-page="/Productos/Index">
                            <i class="bi bi-box-seam me-2"></i>Ir al Catálogo
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <i class="bi bi-database-check text-primary" style="font-size: 15rem; opacity: 0.15;"></i>
            </div>
        </div>
    </div>
</header>

